# Data Types in Python

## Lists in Python

### - Collections of items which could be used for different data types

### - Enclosed in square brackets

### - Seperated by commas

### - Ordered and changeable

In [1]:
# List 
num_list = [1,2,3,4]
num_list
type(num_list)

list

In [5]:
# mix list
mix_list = [1, 2.5, 'Abhi', 'Engineering', 7.45]
mix_list

[1, 2.5, 'Abhi', 'Engineering', 7.45]

In [8]:
# List of list
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.5

house = [['hall',hall],
         ['kitchen',kit],
         ['living room', liv],
         ['bedroom',bed],
         ['bathroom',bath]]
house

[['hall', 11.25],
 ['kitchen', 18.0],
 ['living room', 20.0],
 ['bedroom', 10.75],
 ['bathroom', 9.5]]

### Accessing elements of a list

In [11]:
# Access elements of a list
mix = [1,81,'Abhijith',7.45,True]

# Accessing 1st element of a list
print(mix[0])

# Printing 1st 3 elements of a list
print(mix[:3])

# print the index of an element
print(mix.index('Abhijith'))

1
[1, 81, 'Abhijith']
2

### Modifying the elements of a list

In [13]:
# Change the name
mix[2] = 'Abhijith Kasula'
print(mix)

[1, 81, 'Abhijith Kasula', 7.45, True]

### Adding, removing and sorting elements of a list

In [14]:
sub = ['Python','Java','C++','JS']
# Inserting an element at index 2
sub.insert(2,'C#')
print(sub)

['Python', 'Java', 'C#', 'C++', 'JS']

In [15]:
# Remove Java
sub.remove('Java')
print(sub)

['Python', 'C#', 'C++', 'JS']

In [16]:
# Sorting
sub.sort() # If you hit shift + tab we can see what all that function can do
print(sub)

['C#', 'C++', 'JS', 'Python']

In [18]:
# Reverse sorting
sub.sort(reverse = True)
print(sub)

['Python', 'JS', 'C++', 'C#']

### Operations on a list

In [29]:
l = [1,2,3,4,5]

In [30]:
# Length of the list
len(l)

5

In [31]:
# Max value in a list
# Applicable only for same data types
max(l)

# For string it will give out the string that has maximum length

5

In [32]:
# append to add the elements in a list
l.append(6)
l

[1, 2, 3, 4, 5, 6]

In [33]:
# Pop the last element from the list
l.pop()
l

[1, 2, 3, 4, 5]

In [35]:
# Reverse the list 
l.reverse()
l

[1, 2, 3, 4, 5]

### Some more operations

In [36]:
# Concatenate
m = [6,7,8,9,10]
l + m

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [38]:
# Repeating the list multiple times 
new_m = m * 2
print(new_m)

[6, 7, 8, 9, 10, 6, 7, 8, 9, 10]

In [39]:
# Checking if the number is present in a list or not
print(6 in new_m)

True

In [40]:
# Checking if the number is not present in the list or not
print(4 not in new_m)

True

---

# Dictionary 

### - This is used to store data in key:value pairs.

### - This is a collection that is ordered, changable and does not allow duplicates

In [2]:
# Finding the score in python 
marks = [99,80,79,94]
sub_list = ['Ram','Bam','Cam','Sam']

In [4]:
# Fetching the index of python
index = sub_list.index('Ram')
index

0

In [5]:
# Fetch Marks
marks[index]

99

In [6]:
# Dictionaries are always written with curly brackets and they have keys and values
sub_dict = {'Python': 99, "Perl": 80, 'Java':79, 'C++':94}
sub_dict

{'Python': 99, 'Perl': 80, 'Java': 79, 'C++': 94}

In [8]:
# Check out the keys in sub_marks
print(sub_dict['Python']) # This prints the value of a key
sub_dict.keys() # .keys helps us print the keys of a dictionary

99

dict_keys(['Python', 'Perl', 'Java', 'C++'])

In [10]:
# Keys must always be unique and no two keys must have the same value

### Operations on Dictionary

In [12]:
# Adding one subject to the dictionary
sub_dict['Algorithms'] = 97 
sub_dict

{'Python': 99, 'Perl': 80, 'Java': 79, 'C++': 94, 'Algorithms': 97}

### Delete a Dictionary

In [13]:
del(sub_dict['Java'])
sub_dict

{'Python': 99, 'Perl': 80, 'C++': 94, 'Algorithms': 97}

### Check for a key in dictionary

In [14]:
'Java' in sub_dict

False

In [15]:
'Python' in sub_dict

True

### Dictionary of dictionaries

In [17]:
# dictionary of dictionaries
europe = {'spain': { 'capital':'madrid', 'population':46.88}, 
         'germany': {'capital':'paris', 'population':66.03},
         'france': {'capital':'berlin', 'population':80.62}}

In [18]:
# get capital and population of spain
europe['spain']

{'capital': 'madrid', 'population': 46.88}

In [19]:
# get population of spain
europe['spain']['population']

46.88

In [20]:
# Add capital and population of Italy
data = {'capital':'rome',
       'population':59}

europe['Italy'] = data

In [21]:
europe

{'spain': {'capital': 'madrid', 'population': 46.88},
 'germany': {'capital': 'paris', 'population': 66.03},
 'france': {'capital': 'berlin', 'population': 80.62},
 'Italy': {'capital': 'rome', 'population': 59}}