# Python Challenge

### Day 1

In [1]:
# Use Case 1: Write a Python program that prints "Hello, World!" on the screen.
print("Hello, World!")

Hello, World!

In [4]:
# Use Case 2: Write a Python program that prompts the user for their name and then prints a personalized greeting.
a = input("Enter your name")
print("Good Day",a)

Enter your nameAbhijith
Good Day Abhijith

### Day 2

In [10]:
# Use Case 1: Write a Python program that accepts two numbers from the user and then calculates and prints their sum.
a = int(input("Enter first number: "))
b = int(input("Enter second number: ")) # Int is very important here because deafult entry is string
c = a + b
print("The sum of",a,"and",b,"is:",c)

Enter first number: 3
Enter second number: 5
The sum of 3 and 5 is: 8

In [12]:
# Use Case 2: Write a Python program that accepts a temperature in Celsius and converts it to Fahrenheit.
temp = int(input("Enter the temperature in celsius: "))
far = (temp * (9/5)) + 32
print("The temperature in celsius is",temp,"and it is",far,"in fahrenheit")

Enter the temperature in celsius: 23
The temperature in celsius is 23 and it is 73.4 in fahrenheit

### Day 3

In [16]:
# Use Case 1: Write a Python program that reads a file and counts the number of words in it.
from pathlib import Path # Pathlib is a module
path = Path('name.txt')
contents = path.read_text()
print(contents)

Abhijith Kasula

In [54]:
# Use Case 1: Write a Python program that reads a file and counts the number of words in it.

# I managed to read the content of the file now to count the words we need to:
from pathlib import Path
path = Path('name.txt') 

contents = path.read_text() # Read the file successfully

words = contents.split() # Splitting the words based on whenever it finds whitespace 

num_words = len(words) # Counting the number of words

print("Number of words present in name.txt are",num_words)

Number of words present in name.txt are 2

In [58]:
# Use Case 2: Write a Python program that reads a file and calculates the average word length.

from pathlib import Path

path = Path('pi.txt')

contents = path.read_text()# Read the file successfully

words = contents.split() # Splitting the words based on whenever it finds whitespace

n_words = len(words) # Counting the number of words

print("Number of words present in pi.txt are",n_words)

len_words = sum(len(word) for word in words)

print("The length of words in the file are",len_words)

avg = len_words/n_words

print("The average word length is",avg)

Number of words present in pi.txt are 8
The length of words in the file are 43
The average word length is 5.375

### Day 4

In [11]:
# Use Case 1: Write a Python program that reads a CSV file and displays its contents.

import pandas as pd 

df = pd.read_csv('Online Retail.csv') # Creating a data frame to read the data from the file

df.head() # To print the first few lines

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom

In [6]:
# Case 2: Write a Python program that reads a CSV file and calculates the average of a column.

import pandas as pd

df = pd.read_csv('Online Retail.csv') # Creating a data frame to read the data from the file

unit_avg = df['UnitPrice'].mean()

print("The Average Unit price in the stock is",unit_avg)

The Average Unit price in the stock is 4.611113626083471

### Day 5

In [8]:
# Use Case 1: Write a Python program that reads a JSON file and displays its contents.

import pandas as pd

import json

result = pd.read_json('example_2.json')

print(result)

                                                    quiz
maths  {'q1': {'question': '5 + 7 = ?', 'options': ['...
sport  {'q1': {'question': 'Which one is correct team...

In [15]:
# This hasn't given out the entire data and the data printed is also not legible

import json

# Loading the json data from a file

with open("example_2.json","r") as json_file:
    data = json.load(json_file)
    
# Print the data in legible manner

print(json.dumps(data, indent=4))

{
    "quiz": {
        "sport": {
            "q1": {
                "question": "Which one is correct team name in NBA?",
                "options": [
                    "New York Bulls",
                    "Los Angeles Kings",
                    "Golden State Warriros",
                    "Huston Rocket"
                ],
                "answer": "Huston Rocket"
            }
        },
        "maths": {
            "q1": {
                "question": "5 + 7 = ?",
                "options": [
                    "10",
                    "11",
                    "12",
                    "13"
                ],
                "answer": "12"
            },
            "q2": {
                "question": "12 - 8 = ?",
                "options": [
                    "1",
                    "2",
                    "3",
                    "4"
                ],
                "answer": "4"
            }
        }
    }
}

In [1]:
# Skipping use case 2 as of now

### Day 6