# Python for Beginners

### Basic print and comment

In [1]:
# Printing the first line of code
print("I am revising python from scratch again")

# Print is an inbuilt function that is used to print whatever is stored in brackets

I am revising python from scratch again

In [5]:
# Has is used to comment and anything after hash won't be compiled or executed

In [8]:
''' If you have something long that can
fill in multiple lines so
by using a pair of these ('''  ''')
we can write a multi-line comment '''

' If you have something long that can\nfill in multiple lines so\nby using a pair of these ()\nwe can write a multi-line comment '

## 3. Variables and Data Types

In [10]:
# Variables are just placeholders for values, programmers use them to store values not only numbers but whole objects too

# There are various data types 
# 1. Numerical: Integer, Float and Complex
# 2. Strings: This is used to store a sequence of characters basically some texts 
# 3. Booleans: True or False
# 4. Sequences: List, Tuple and Dictionaries

In [11]:
# Integer can be called using keyword 'int' and can store whole numbers.
# Float can be called using keyword 'float' and can store floating point numbers.
# Complex can be called using 'complex' and can store a complex number.

In [12]:
# The keyword for strings is 'str' and the text must be stored in quotation marks ''.
# Booleans are the simple data types in python, it can only have one of two values 'true' or 'false'.

In [13]:
# There are three types of sequences 

# 1. List can be called using keyword 'list' and can store a collection of values.
# 2. Tuple can be called using keyword 'tuple' and can be a immutable list.
# 3. Dictionary can be called using 'dict' and can be used to store a list of key-value pairs.

### Creating Variables and using them

In [3]:
# Creating variables
myNumber = 10
myText = "Hello"

# Using variables
print(myNumber)
print(myText)

10
Hello

In [8]:
# Typecasting
# This is the concept of converting a variable of one datatype to another datatype to make it usable is called typecasting.

value = "10"
number = int(value)
print(type(value))
print(type(number))

<class 'str'>
<class 'int'>

## 4. Operators

In [9]:
# Operators are generally used to manage variables and perform operations on them. There are many types of operators that are used to perform operations:
# 1. Arithmetic Operators
# 2. Assignment Operators
# 3. Comparison Operators
# 4. Logical Operators
# 5. Other Operators

### Arithmetic Operators

In [11]:
2 + 3 # Addition

5

In [12]:
7 - 2 # Subtraction

5

In [13]:
8 * 7 # Multiplication

56

In [14]:
9 / 3 # Division

3.0

In [15]:
5 % 2 # Modulus

1

In [16]:
2 ** 4 # Exponent

16

In [17]:
18 // 4 # Rounds off decimals

4

### Assignment Operators

In [24]:
a = 10 # Assigning a value to a variable
a

10

In [25]:
a += 10 # This is the same as a = a + 10
a

20

In [26]:
a -= 10 # This is the same as a = a - 10
a

10

In [27]:
a *= 10 # value of a is multiplied by 10 a = a * 10
a

100

In [28]:
a /= 10 # value of a is divided by 10 a = a /10
a

10.0

In [29]:
a %= 2 # Remainder of a divided by 2 is assigned to a
a

0.0

In [31]:
a = 10
a **= 2 # a is the base and the exponent value is 2 so the value of a is squared
a

100

In [32]:
a //= 3 # The decimal values is removed and the ones value is stored in a after the previous value gets divided by 3
a

33

### Comparison Operators

In [4]:
# Equal operator
10 == 10

# When we compare it with different numbers it just returns a boolean value

True

In [5]:
# Not equal 
20 != 10

True

In [6]:
# Greater Than
30 > 10

True

In [7]:
# Less Than
10 < 20

True

In [8]:
# Greater than or equal
30 >= 29

True

In [9]:
# Less than or equal
25 <= 30

True

### Logical Operators

In [11]:
# Logical operators are used to combine or connect booleans or comparisions
# OR operator
True or True

True

In [12]:
print(True or False)

True

In [13]:
# AND operator
True and False

False

In [14]:
False and False

False

In [15]:
# Not Operator
not True

False

In [16]:
not False

True

## 5. User Input

In [19]:
# This is used to take input from the user and then run the script
name = input("Please enter your name: ")
print("Hello ",name)

Please enter your name:  Abhijith

Hello  Abhijith

In [23]:
# Addition of two numbers from user input
n1 = input("Enter the first number: ")
n2 = input("Enter the second number: ")
sum = n1 + n2
print("Result: ",sum)

Enter the first number:  2
Enter the second number:  3

Result:  23

In [24]:
# We got this error because the values that are entered as taken as string and the compiler concatenates them, 
# so we need to ensure that the input is typecasted so the code would be
n1 = int(input("Enter the first number: "))
n2 = int(input("Enter the second number: "))
sum = n1 + n2
print("Result: ",sum)

Enter the first number:  2
Enter the second number:  3

Result:  5

## 6. Conditions

### IF, ELIF and ELSE

In [27]:
# Till now, the compiler only executed one command at a time but if we want to execute multiple lines at once then we can use this.
gender = input("Enter the gender as M, F or O:")

if gender == 'M':
    print("You are Male")
elif gender == 'F':
    print("You are Female")
elif gender == 'O':
    print("You are from LGBTQ community")
else:
    print("Enter a valid input")

Enter the gender as M, F or O: Q

Enter a valid input

### Nested IF statements

In [32]:
# This is used to put multiple if-blocks into if-blocks

print("BE PROUD OF YOUR SEXUALITY AND TYPE THE INPUT IN CAPS")
gender = input("Enter the gender in choices M,F and O L,G,B,T and Q")

if gender == 'O':
    other_gender = input("Enter the community")
    
    if other_gender == 'L':
        print("You are a lesbian")
        
    elif other_gender == 'G':
        print("You are gay")
        
    elif other_gender == 'B':
        print("You are bisexual")
        
    elif other_gender == 'T':
        print("You are Transgender")
        
    elif other_gender == 'Q':
        print("You are a queer")
     
    else:
        print("System doesn't recognize the community, our team will be in touch!")

elif gender == 'M':
    print("You are Male")
    
elif gender == 'F':
    print("You are Female")
    
else:
    print("Enter a valid input")

BE PROUD OF YOUR SEXUALITY AND TYPE THE INPUT IN CAPS

Enter the gender in choices M,F and O L,G,B,T and Q O
Enter the community B

You are bisexual

## 7. Loops

In [33]:
# If the process has to be repeated until some criteria has to be met then running a loop would make sense
# There are two types of loops and those are while and for loops, below is the example of while loop
number = 0 
while number < 10:
    number += 1
    print(number)

1
2
3
4
5
6
7
8
9
10

In [34]:
# In the above piece of code the value is initialized to zero and in every iteration the value is increased.
# This is done as long as the number is less than 10.
# There is a concept called endless loop as long as the condition is true it goes on printing

In [35]:
# For loop
# This is used to iterate over sequences, we use for keyword to iterate over it.
# The control variable number gets assigned the value of next element
numbers = {10,20,30,40}
for number in numbers:
    print(number)

40
10
20
30

In [37]:
# Range function
# Usually there are are 2 points starting and ending are needed to be given but the default is 0.
for x in range(100):
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [38]:
for x in range(20,80):
    print(x)

20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79

In [41]:
# Break statement
# This is used to adjust the flow of the loop and end it without worrying about the condition
number = 0
while number < 10:
    number += 1
    if number == 5:
        break
print(number)

5

In [43]:
# We can use continue to skip a condition and then let the loop running
number = 0
while number < 10:
    number += 1
    if number == 5:
        continue
    elif number == 7:
        break
print(number)

7

## 8. Sequences

In [44]:
# The sequence is the most basic data structure in python, they have multiple elements and they are indexed with a specific number
# There are mainly three types of sequences lists, tuples and dictionaries
# Lists
a = [1,2,3,4,5] # Integer list
b = ["Abhi","Bhargav","Phani"] # String list
c = ["Abhi", 1, 2.22, "Bhargav", True] # Mixed list

In [45]:
# Inorder to access the elements of a sequence we can do it by:
print(a[2]) # Mention the index number of a sequence with a square bracket
print(b[2]) 
print(c[0])

3
Phani
Abhi

In [47]:
# We can also print a range of elements in a list
print(a[0:4])
print(a[:3]) # If nothing is filled 0 is assigned by default

[1, 2, 3, 4]
[1, 2, 3]

In [48]:
# We can modify the elements in a list by accessing their index
b[0] = "Abhijith"
b

['Abhijith', 'Bhargav', 'Phani']

In [49]:
# We can do some aritmetic operations using list
[10,20,30]+[40,50,60]

[10, 20, 30, 40, 50, 60]

In [50]:
[10,"Messi"]*3

[10, 'Messi', 10, 'Messi', 10, 'Messi']

In [61]:
# There are some basic functions that are inbuilt for list
c = [1,2,3,4,5,6,7,8]

In [62]:
print(len(c)) # Length of the list
print(max(c)) # Returns the maximum value
print(min(c)) # Returns the minimum value

8
8
1

In [63]:
list(c)

[1, 2, 3, 4, 5, 6, 7, 8]

In [64]:
# There are methods that can be used to get control over the list
c.append(9)
c

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [66]:
c.append(0) # Adds a new element from the last
c

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 0]

In [68]:
c.count(0) # 0 has repeated 2 times

2

In [70]:
c.index(6) # Returns the index at which the element occurs

5

In [71]:
c.pop() # Removes the last element in the list
c

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [72]:
c.reverse() # Reverses the entire list
c

[0, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [73]:
c.sort() # Sorts the entire elements in the list
c

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [74]:
# The next sequence that we can use is tuple, the only difference is that the tuple is immutable and we can't manipulate it
# This is represented in normal brackets than square brackets
d = (10,20,30)
type(d)

tuple

In [75]:
# len, min and max functions can be used and modigying functions cannot be used to because tuples are immutable.

In [76]:
# Dictionary is the last type of sequence, they follow a concept of key value pairs, this is called has map in few of the programming languages.
e = { "Name" : "Abhijith",
     "Age" : 23,
     "Height" : 5.9 }
e

{'Name': 'Abhijith', 'Age': 23, 'Height': 5.9}

In [77]:
# To access the value of a string, we can do it by
print(e["Name"])
print(e["Age"])
print(e["Height"])

Abhijith
23
5.9

In [79]:
# There are two functions for a dictionary
print(len(e)) # Returns the length of a dictionary
print(str(e)) # Returns the dictionary displayed as string

3
{'Name': 'Abhijith', 'Age': 23, 'Height': 5.9}

In [81]:
# There are several methods in a dictionary:
e.values() # Returns the values in e

dict_values(['Abhijith', 23, 5.9])

In [86]:
e.update()
e

{'Name': 'Abhijith', 'Age': 23, 'Height': 5.9}

In [89]:
e.keys() # Returns the keys

dict_keys(['Name', 'Age', 'Height'])

In [92]:
e.get("Name") # Returns the value for that key

'Abhijith'

In [94]:
e.copy() # Returns a copy

{'Name': 'Abhijith', 'Age': 23, 'Height': 5.9}

In [97]:
e.fromkeys('Name') # Returns a new dictionary with same keys and with some empty values

{'N': None, 'a': None, 'm': None, 'e': None}

In [98]:
e

{'Name': 'Abhijith', 'Age': 23, 'Height': 5.9}

In [99]:
e.items() # Returns all the values in a tuple format

dict_items([('Name', 'Abhijith'), ('Age', 23), ('Height', 5.9)])

In [102]:
e.clear() # Clears all elements in a dictionary
e

{}

In [103]:
# Membership operator is used to check if an element is a member of sequence
list = [10,20,30,40,50]

In [104]:
print(20 in list)
print(60 in list)
print(70 not in list)

True
False
True

In [105]:
# With in and not in operators, we check if a sequence contains certain elements, 
# if the element is in the list then it returns true
# if the element is not in the list then it returns false

for x in list:
    print(x)

10
20
30
40
50

## 9. Functions

In [1]:
# Just like inbuilt functions like print, we can write our own functions that can be reused later.
# Imagine if we had to write the code for print function everytime we would have to print something, that would be very tough. Functions can be seen as a blocks of organized code that we reuse at different places in our script.

# Inorder to define a function in python we need to use "def" keyword with function name and parentheses. The code must be written with indentation after the column

### Defining Functions

In [2]:
def hello():
    print("Hello, how are you today?")

In [3]:
hello()

Hello, how are you today?

### Parameters

In [7]:
# We can make our functions more dynamic, we can define parameters and then can process it in the function code

def greet(text = "Hello "+"Good Morning"):
    print(text)

In [8]:
greet()

Hello Good Morning

In [9]:
# We can do literally anything operation within the function as long as the code defining the function is proper
def print_sum(number1, number2): # As we have allowed two paramaters so while calling the function the parameters must be filled
    print(number1 + number2)

In [11]:
print_sum(3,4)

7

In [12]:
print_sum(3.1,3.2)

6.300000000000001

### Return Values

In [13]:
# The above two functions we wrote were just executing the statements, we can return certain value using return statement and that can be saved in variable and it can be processed
def add(number1, number2):
    return number1 + number2

In [14]:
# Here we can use the sum of two parameters instead of printing it, but we can use the same result in the code.
num3 = add(10,20)
print(num3)

30

### Default Parameters

In [15]:
# Sometimes these default values might help the user or us to get to the proper usage of the function, let's say if the input is not valid then the default parameter can be displayed that can act as a guide
def say(text = "Default Text"):
    print(text)

In [16]:
say()

Default Text

### Variable Parameters

In [17]:
# Sometimes we want to have any amount of parameters in a function, we then treat the parameter as a sequence.
def print_sum(*numbers): # * is used define a sequence
    result = 0
    
    for x in numbers:
        result += x
    print(result)

In [18]:
print_sum(1,2,3,4,5,6,7,8)

36

### Scopes

In [19]:
# A variable that is only available from inside the region it is created is called scope. There are two types of scope local and global.
# Local Variable
def function():
    number = 10
    print(number) # Function ends

print(number) # Statement outside the function won't work as number is defined within the statement

NameError: name 'number' is not defined

In [20]:
# Global Variable
number = 10 # Declared outside so it can be accessed

def function():
    print(number)
    
print(number) # Normal print statement
function() # Accessing number from a defined function

10
10

In [21]:
# Inorder to manipulate a global variable within a function we can use keyword called global in a function
number = 10

def function():
    global number
    number += 10
    print(number)

function()

20